.Landing {
  background: url('../../assets//images/code-rapper-2017_d1d94785-5012-4c81-b747-51d902581ada.jpg') center/cover no-repeat border-box;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  position: relative;
}